/* add a simple progress bar, circular around the timer

background

fonts

color-code: break, session, inc, dec, so on..

fix the gap between 'timer' and 'display-bar'

*/
html, body {
  margin: 0;
  padding: 0;
  background: cyan;
  cursor: default;
}

.container {
  text-align: center;
}
.container .app-name p {
  font-size: 60px;
}
.container .display-bar {
  font-size: 24px;
  color: cyan;
  background-color: red;
}
.container .visible {
  color: red;
}
.container .timer {
  font-size: 60px;
  cursor: pointer;
}
.container .settings span {
  font-size: 36px;
}
.container .settings #break, .container .settings #session {
  cursor: pointer;
}
.container .settings input:focus {
  outline: none;
}
