/* add a simple progress bar, circular around the timer

background

fonts

color-code break, session, inc, dec, so on..

*/
html, body {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}
.container .app-name p {
  font-size: 60px;
}
.container .timer {
  font-size: 60px;
  cursor: pointer;
}
.container .settings span {
  font-size: 36px;
  cursor: pointer;
}
.container .settings input:focus {
  outline: none;
}
