//to-do list:
/* add a simple progress bar, circular around the timer

background

fonts

color-code: break, session, inc, dec, so on..

fix the gap between 'timer' and 'display-bar'

*/

//variables
$myBackground : cyan;
$alertColor: red; // this will be use to let the user know when on break and/or paused


html,  body {
  margin: 0;
  padding: 0;
  background: $myBackground;
  cursor: default;
}

.container {
  text-align: center;
  
  .app-name {
    
    p {
      font-size: 60px;
    }
    
  }
  
  .display-bar{
    font-size: 24px;
    color: $myBackground;
    background-color: red;
  }
  
  .visible{
    color: $alertColor;
  }
  
  .timer{
    font-size: 60px;
    cursor: pointer;
  }
  
  .settings {
    
    span {
      font-size: 36px;
    }
    
    #break, #session{
      cursor: pointer;
    }
    
    input:focus{
      outline: none;
    }
  }
}

