html,  body {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  
  .app-name {
    
    p {
      font-size: 60px;
    }
    
  }
  
  .timer{
    font-size: 60px;
    cursor: pointer;
  }
  
  .settings {
    
    span {
      font-size: 36px;
      cursor: pointer;
    }
    input {
      height: 36px;
      font-size: 36px;
      width: 10%;
      
    }
    
    input:focus{
      outline: none;
    }
  }
}
